<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Member</title>
</head>
<body>
    <h1>Add Member</h1>
    <form action="addrecord" method="post">
        {% csrf_token %}
        firstName : <input type="text" name="firstname"> <br><br>
        lastName : <input type="text" name="lastname"> <br><br>
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>